path{
  fill: red;
}

path:hover {
  stroke: hsl(56, 89%, 55%) !important;
  stroke-width: 2px;
  stroke-linejoin: round;
  fill: hsl(56, 89%, 55%);
  cursor: pointer;
}


#map-box {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 600px;
  height: 800px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 15 px 30px 0 rgba(194, 22, 22, 0.3);
  border-radius: 10px 10px 10px 10px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.section {
  margin-bottom: 35px;
}

.title-content {
  margin-bottom: 30px;
}

.subtitle {
  color: hsl(214, 57%, 51%);
  font-size: 20px;
  text-transform: uppercase;

  margin-bottom: 8px;
}

.info-title {
  font-weight: 800;

  text-transform: uppercase;
  color: hsl(206, 34%, 20%);
  font-size: calc(18px + 1.6vw);
  margin-bottom: 15px;
}

.info-text {
  color: hsl(225, 8%, 42%);

}

.natural-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0px;
}

.natural-img {
  width: 270px;
  height: 270px;
  margin: auto auto;
  border-radius: 50%;
  box-shadow: 0 0 20px 3px hsla(0, 0%, 0%, 0.423);
}

.natural-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.natural-content {

  margin: auto 0px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 25px 30px;
}

.underline {
  background-color: hsl(214, 57%, 51%);
  width: 80px;
  height: 6px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.ex-title {
  font-size: 20px;
  font-weight: 800;
  color: hsl(206, 34%, 20%);
  text-transform: uppercase;
  margin-bottom: 15px;
}

.ex-text {

  color: hsl(225, 8%, 42%);
  text-align: justify;
}

/* schedule */
.schedule-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  margin-top: 25px;
}

.schedule-box .schedule-img {
  width: 80%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  margin: auto auto;
}

.schedule-box .schedule-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.schedule-box .schedule-info {

  margin: auto auto;
}

.schedule-box .schedule-info p:not(.ex-text) {
  text-transform: uppercase;
  color: hsl(214, 57%, 51%);
  font-size: 14px;
  margin-bottom: 5px;
}

.schedule-box .schedule-info h4 {
  text-transform: uppercase;
  color: hsl(206, 34%, 20%);
  font-weight: 800;
  margin-bottom: 10px;
}

/* community */

.community-section .community-content {
  margin-bottom: 25px;
  text-align: center;
}

.community-section .underline {
  margin: 15px auto;
}

.community-section .community-content .ex-text {
  text-align: center;
}

.community-section .community-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  column-gap: 50px;
  width: fit-content;
  margin-inline: auto;
}


.community-section .community-wrapper .community-box {
  width: 230px;
  height: 300px;
  border-radius: 15px;
  padding: 15px 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.community-box .community-img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  margin: 0px auto;
  margin-bottom: 15px;
}

.community-box .community-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.community-box .name-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.community-box .name {

  text-transform: uppercase;
  color: hsl(206, 34%, 20%);
  font-weight: 700;
  margin-left: 10px;
  width: fit-content;

}

.community-box ion-icon {
  color: hsl(214, 57%, 51%);
  margin-left: 5px;
}


.community-box p {
  margin-left: 10px;
  color: hsl(225, 8%, 42%);
  margin-bottom: 3px;
  font-size: 13px;
}

.community-box .location {
  display: flex;
  align-items: center;
}

.community-box span {
  color: hsl(225, 8%, 42%);
  font-size: 13px;
  margin-left: 5px;
}


.info-component {
  width: 100%;
  padding: 80px 100px;
}

#info-box {
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

